<h1>Flats</h1>
<p><%= link_to 'Add a flat', new_flat_path %></p>

<div class="cards-wrapper">
  <% @flats.each do |flat| %>
    <div class="card-flat">
      <div class="card-content">
        <%= link_to flat_path(flat) do %>
          <h4><%= flat.name %></h4>
          <p><%= flat.address %></p>
        <% end %>
      </div>
      <span class="card-icons">
        <i class="small material-icons">people</i><%= flat.number_of_guests %>
        <i class="small material-icons">attach_money</i><%= flat.price_per_night %>
      </span>
    </div>
  <% end %>
</div>
  